@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

html,
body,
#root,
.content {
    height: 100vh;
}

.content>* {
    overflow-y: scroll;
}

a {
    text-decoration: inherit;
    color: inherit;
}

em {
    opacity: 0.5;
    font-style: normal;
}

::-webkit-scrollbar {
    background: #f5f5f5;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #bebebe;
}

::-webkit-scrollbar-thumb:hover {
    background: #888888;
}
